{{#if obj.props.name}}
<h2>{{obj.props.name}}</h2>
{{/if}}

{{#eq obj.props.room "office"}}

{{> office}}

{{else eq object "player"}}
<p>This is you, the player. You are a wizard in Magical Consulting, LLC (a
Delaware company).</p>

<button id="clear-data">clear data</button>
{{else eq object "bossA"}}
{{#unless state.talkedToManager}}
You don't know who I am! Why should I talk to you?
{{else}}
<blockquote>
<p>I'm the first boss. I guess I'd fight you or something?</p>

<p>You've trained heavily for this battle. Enough that it might even be a
fair fight. The boss eyes you as an equal. When &mdash; and if &mdash; you
emerge victorious, you can know that skill was involved.</p>
</blockquote>
{{/unless}}
{{else eq object "enemy"}}

<p>You've trained heavily for this battle. It all comes down to making the
critical move. Without stopping to look up from your phone, you dispatch the
enemy with one overpowered move. Your reward is a juicy 15 XP, which you gladly
take, knowing only 89 are left to get to the next one.</p>

{{else eq object "greeter"}}

<p>You arrive 15 minutes late to the meeting, after wandering around aimlessly,
reading books that you've walked past every day in the office. Others don't
comment on your tardiness (how polite of them). Instead they jump right in.</p>

<p>You wander around more, looking for trouble. It would almost seem like you...
wanted to fight mindless monsters? Who would do that? The creatures of the
forest oblige you, happily coming to you with their monotonous troubles.</p>

{{else eq object "bossB"}}
{{#unless state.talkedToManager}}
You don't know who I am! Why should I talk to you?
{{else}}
<blockquote>
<p>I'm the second boss. I guess I'd fight you or something?</p>

<p>You've waltzed in here looking for trouble. The boss eyes you
like you're 11 years old and thought that determination was all that
counted and not the cold hard numbers. He doesn't feel the need to go
easy on you.</p>

<p>It had all come to this. The final battle, against this boss of the {board}.
This boss was special. There was a medical facility outside his office for a
reason [well, mostly to save you some time]. As everyone but you has gathered,
he is the leader of a great evil organization, the {evil organization}, which
secretly controls the world. They have great interest in the {trade deal}
falling apart, hoping that in the resulting anarchy their clandestine operation
of illegal wand dealing would be all that people have left, funding their much
more nefarious plans for world domination and enslavement. Despite this evil,
the fight will be a fair one, and he will face you head on.</p>

</blockquote>
{{/unless}}
{{else}}
  {{> notfound}}
{{/eq}}
