{{#eq object 'object1'}}
  <h2>Kitten</h2>
  <p>A little scruffy, but we'll find somebody who loves it.</p>
{{else eq object 'object2'}}
  <h2>Wand</h2>
  <p>Looks to have about 30% of its life remaining. Probably made in China, that's
  where all the good magic is.</p>
{{else eq object 'object3'}}
  <h2>Wallet</h2>
  <p>Has $45 in it. No driver's license &mdash; the owner must fly an
  unlicensed broom and be too paranoid to use credit cards.</p>
{{else eq object 'object4'}}
  <h2>Rocket ship parts</h2>
  <p>There's a first stage booster and a small upper stage, along with some
  rocket fuel.</p>
{{else eq object 'object5'}}
  <h2>Fossil</h2>
  <p>Looks to be the thigh bone of some pre-historic creature.</p>
{{else eq object 'object6'}}
  <h2><em>A Guide to Exothermic Spells</em></h2>
  <p>Ah, what a classic. Everybody has fond memories of working through baby
  Rudin. Also has burn marks from finding the errata.</p>
{{else eq object 'object7'}}
  <h2>Coffee</h2>
  <p>In a mug that says "antidote".</p>
{{else eq object 'object8'}}
  <h2>Star fragment</h2>
  <p>Looks to be the upper left point of a star.</p>
{{else eq object 'object9'}}
  <h2>Priceless jewel</h2>
  <p>Ok, it could probably be appraised, but you're not very good at that.
  Yet.</p>
{{else eq object 'object10'}}
  <h2>Keys</h2>
  <p>Bunch of oddly shaped metal things. Relic from a bygone era of physical
  security &mdash; though it's kind of cool how you can open a lock without
  having to cast a spell!</p>
{{else eq object 'object11'}}
  <h2>Dragon</h2>
  <p>I think it was red?</p>
  <p>Sorry, didn't get too many details before you ran away because IT'S A
  DRAGON. Good call.</p>
{{else eq object 'object12'}}
  <h2>Penguin</h2>
  <p>Looks to be a lost penguin baby. It's a good thing you can't hear its
  calls, because they're really annoying after about five minutes.</p>
{{else eq object 'object13'}}
  <h2>Health potion</h2>
  <p>These used to be illegal in sporting events &mdash; sad times, those
  were.</p>
{{else eq object 'object14'}}
  <h2>Printer</h2>
  <p>It's one of those enormous "multifunction" printers that does everything
  up to and including making coffee. Also it staples for you. Most of it is
  magical, but the coffee maker is just an ordinary Keurig.</p>
{{else eq object 'object15'}}
  <h2>Star fragment</h2>
  <p>Looks to be missing a fragment, perhaps from the lower right point.</p>
{{else eq object 'object16'}}
  <h2>Broom</h2>
  <p>Nope, doesn't fly. Never did. It's for sweeping.</p>
{{else}}
  {{> notfound}}
{{/eq}}
