{{#eq object "player"}}
<h3>Level {{state.playerLevel}} Wizard</h3>

<p>This is you, the player. You are a wizard in DRM Consulting, Inc (a Delaware
company).</p>

<p>You have {{state.exp}} experience.</p>

{{#if state.fastMovement}}
<p>You're on a bike! Wait, where did you even get that from?</p>
{{/if}}

{{#if state.beatBoss3}}
<p>Congratulations! You beat the game.</p>
{{/if}}

<button id="clear-data">clear data</button>

<button id="toggle-selection-behavior">
  {{#if state.toggleSelection}}
  disable selection toggle
  {{else}}
  enable selection toggle
  {{/if}}
</button>
{{else eq object "table"}}

<p>This is just a conference table. There's nothing on it and it isn't
important.</p>

{{else eq object "manager"}}

<blockquote>

<p>Hi, I'm your manager. I don't know why I'm telling you, since you ought to
know that by now.</p>

<p>&hellip;</p>

<p>We were wondering when you would ask about that. Every employee in your
stage (which is level 3, need I remind you) has only one way to move up: a
series of trials, facing your superiors. Every boss got where they are this
way, and maybe you will, too!</p>

<p>You'll be given a series of challenges, each in a specific form or style or
element of magic. Each will test your skills, pushing you to be the very best
&mdash; and rewarding you if you turn out to be.</p>

<p>These bosses will require intense training. You'll probably want to find
some random wizards to fight with (don't worry, it's totally safe, they can
always heal up).</p>

</blockquote>

{{else eq object "note1"}}

  <h2>Memo</h2>

  <p>
  <strong>REMINDER TO ALL OFFICE PERSONNEL</strong>
  </p>

  <p>The administration wishes to remind all office workers that slowing down
  time during the lunch hour is not permitted. Time dilation has serious
  negative effects on the precision time spells being cast concurrently and we
  have received several customer complaints about incorrect ageing. We expect
  all employees to get their work done in normal time.</p>

{{else eq object "note2"}}

  <h2>Scrap of paper</h2>

  <p><em>Computer troubleshooting checklist:</em></p>

    <ul class="checklist">
      <li><input type="checkbox">Restart browser</li>
      <li><input type="checkbox">Turn off/on computer</li>
      <li><input type="checkbox">Sacrifice goat while invoking <strong>Ra</strong> (not Poseidon)</li>
    </ul>

{{else eq object "note3"}}

  <h2>Sticky note</h2>

  username: tonyk<br />
  password: k00lmagician32

{{else eq object "note4"}}

  <h2>Memo</h2>

  <p>
  <strong>Reminder: annual company Christmas party</strong>
  </p>

  All employees and their families are invited to the annual Christmas party, to
  be held on Hyperion! As you no doubt know, that's a moon of Saturn &mdash; see
  the attached instructions for exact teleportation coordinates. We would like
  to remind everyone to please create a protective bubble for yourself and your
  traveling companions <em>before</em> teleporting. There will be staff at the
  destination to help, but we'd rather avoid relying on that.

{{else eq object "hint1"}}

  1. Promotion requires exploration. Leave the building, taking the (only) exit to the
  east. Your journey will be fraught with many perils, including common folk
  that will ask for your help. We trust you will do the right thing.

{{else eq object "hint2"}}

  2. The test administered by the boss is likely to be too difficult with your
  present level of training. We recommend acquiring additional training along
  the way. Magical Consulting believes this training is best left to you to
  discover, to ensure that it reflects the real world and to keep training costs
  low.

{{else eq object "hint3"}}

  3. You will receive further instructions upon reaching {first boss}. Good luck.

{{else eq object "door"}}

{{#unless state.talkedToManager}}
The door is closed.
{{else}}
{{!-- have talked to manager --}}
<ul>
{{#unless state.hasSeenExploreHint}}
<li>Are you <em>sure</em> this is the right door? Positive?</li>
{{/unless}}
{{#unless state.hasSeenTrainHint}}
<li>Are you <em>sure</em> you know what to do afterward?</li>
{{/unless}}
{{#unless state.hasSeenAfterHint}}
<li>Do you know what to do next? <em>Maybe</em> you should plan ahead. I think you should
plan ahead.</li>
{{/unless}}
</ul>
{{/unless}}

{{else}}
  {{> notfound}}
{{/eq}}
