{{#eq state.chapter "intro"}}
<h2>Introduction</h2>
<p>You are a mid-tier wizard at Dawnstar-Riften-Morthal (DRM) Consulting. The
company is huge, responsible for most of the types of magic in the world. Their
work is exported all around the world and DRM is a byword for quality.</p>

<p>There's a large sign on the office wall with the following:</p>

<div class="controls">
  <h3>Controls</h3>

  <table>
    <thead>
      <tr>
        <th>Key</th>
        <th>Effect</th>
      </tr>
    </thead>
    <tr>
      <td class="key">
        <kbd>W</kbd><kbd>A</kbd><kbd>S</kbd><kbd>D</kbd>
      </td>
      <td>Movement</td>
    </tr>
    <tr>
      <td class="key"><kbd>space</kbd></td>
      <td><strong>Select</strong> nearby object</td>
    </tr>
    <tr>
      <td class="key"><kbd>shift</kbd>+<kbd>space</kbd>,
        <kbd>esc</kbd></td>
      <td><strong>Interact</strong> and de-select current</td>
    </tr>
    <tr>
      <td class="key"><kbd>j</kbd> <kbd>k</kbd></td>
      <td><strong>Scroll</strong> information up/down</td>
    </tr>
  </table>
</div>

<p>Note sure what that means, but it's been there the whole time.</p>

<p>People used to think of wizards as wearing these silly, antiquated robes and
pointy hats. The robes invariably had little lightning bolts. It was almost as
if wizards worked in their pajamas and had eccentric taste in hats. This is far
from the reality. Magic is a consulting-based business with face-to-face client
interaction &mdash; most wizards wear business suits and are sharply dressed
with ties. The pointy hats aren't nearly so pointy and are actually a
sophisticated magic-enhancing funnel.</p>

<p>ANYWAY, you're at the point where you've done a reasonable job in your
current position, rising through the ranks just in time not to be fired. You're
ready to go to the next stage, but you haven't gotten the usual email about the
written and practical exams. So you check in with your manager.</p>

{{else eq state.chapter "ch1-village"}}

  <p>And now the quest begins.</p>

  <p>This first boss is the head of international economic affairs. He's in
  charge of the army of negotiators sent to arrange the next big global trade
  agreement, the Trans-Island Purchasing Smoothing Injunction (TIPSI).</p>

  <p>The agreement would be a big deal if it went through. Magical copyright
  infringement would become illegal globally, enforceable by magical policing
  efforts. Summons would be protected by international anti-animal abuse laws.
  And thousands of small changes affecting the many shops that litter the
  land.</p>

{{else eq state.chapter "ch2-factory"}}

  <p>Little known to the intrepid wizard was that the first boss was actually
  planning on throwing the negotiation. The battle had exhausted him enough
  that he would be replaced, by someone on the right side.</p>

  <p>The second boss leads successful private hedge fund and is also on the
  board of the FDIC.</p>

{{else eq state.chapter "ch2.5-boss2"}}

  The wizard had completed a long and difficult journey, full of trials,
  puzzles, and supply chain management, in order to get this far. He is now
  ready to face the evil (come on, it goes without saying &mdash; look at his
  company) head fund manager.

{{else eq state.chapter "ch3-pre-dungeon"}}

  <p>This next boss is the most difficult. His office is heavily guarded, at
  least if you're traveling on foot.</p>

  <p>This one is on the federal Board of Information Gathering and
  Dissemination of Attributes of The Area (BIGDATA). He also owns 42.3% of
  NASDAQ.</p>

  <p>(That's <tt>.IFIC</tt>, not <tt>NDAQ</tt>.)</p>
{{else eq state.chapter "ch3.5-boss3"}}
  <p>The wizard prepares himself mentally. He quietly reflects on the journey
  that brought him here, wondering if the preparation has been enough. Suddenly
  he wonders whether he is <em>actually ready</em> for this level 4
  promotion.</p>

  <p>Quickly he banishes these thoughts and marches forward. It's too late to
  turn back, anway, getting back to the office would take a long time and he
  would look silly if he hadn't succeeded before then.</p>
{{else eq state.chapter "closing"}}
  <p>The boss had been defeated! Finally the wizard could be promoted.</p>

  <p>In addition, the devious plan the final boss had been cooking up was
  foiled. The loss of this battle meant he was unable to keep up his lie
  detector foiling spell when reporting the latest economic numbers. Naturally
  he had lied at every report, convincing everyone everything was going poorly.
  The result was that everyone <em>did</em> do poorly, and many companies were
  bankrupted.</p>
{{/eq}}
